{% extends "index.html" %}

{% block personal_posts %}
  <p>{{ message }}</p>
  {% for post in posts %}
    <div>
      <p>{{ post.title }}</p>
      <p>{{ post.publication_date }}</p>
      <p>{{ post.description }}</p>

      <a href="{% url 'edit_post' post.id %}" >Edit Post</a>
      <a href="{% url 'delete_post' post.id %}" >Delete Post</a>




      {% comment %} <form method="POST">
        {% csrf_token %}
        <input type="hidden" name="post_id" value="{{post.id}}">
        <input type="hidden" name="action" value="EDIT-POST">
        <button type="submit">EDIT</button>
      </form> {% endcomment %}
{% comment %}
      <form method="POST">
        {% csrf_token %}
        <input type="hidden" name="post_id" value="{{post.id}}">
        <input type="hidden" name="action" value="DELETE-POST">
        <button type="submit">X</button>
      </form> {% endcomment %}
    </div>
  {% endfor %}

{% endblock personal_posts %}